
<div class="container">
  <div class="row">
 <div class="col-md-3 ">
		     <div class="list-group ">
              <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
              <a href="#" class="list-group-item list-group-item-action">Item Name</a>
              <a href="#" class="list-group-item list-group-item-action">Item Description</a>
              <a href="#" class="list-group-item list-group-item-action">Item Condition</a>
              
              
              
            </div> 
		</div> 
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Your Profile</h4>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form>
                <div class="form-group row">
                  <label for="username" class="col-4 col-form-label">Item Name</label>
                  <div class="col-8">
                    <input id="itemname" name="itemname" placeholder="Itemname" class="form-control here"
                      required="required" type="text" id="itemName">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="name" class="col-4 col-form-label">Item Description</label>
                  <div class="col-8">
                    <input id="description" name="description" placeholder="Item Description" class="form-control here" type="text" id="description">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastname" class="col-4 col-form-label">Last Name</label>
                  <div class="col-8">
                    <input id="lastname" name="lastname" placeholder="Last Name" class="form-control here" type="text" id="lname">
                  <div class="btn-group dropright">
  <button type="button" class="btn btn-secondary">
    Split dropright
  </button>
  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropright</span>
  </button>
  <div class="dropdown-menu">
    <!-- Dropdown menu links -->
  </div>
</div>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/barter.js"></script>
</div>
post title 

price

city or neighborhood

postal code 

description 

condition

contact info
email

checkbox 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/dashboard.js"></script>