<div id="profilePage">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>Your Profile</h1>
                <!--start form-->
                <div class="card-group">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <input type="text" aria-label="First name" class="form-control">
                            <input type="text" aria-label="Last name" class="form-control">
                            <input type="text" aria-label="Location" class="form-control">
                        </div>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">S#*t! you Have: </h5>
                        <img src="/images/images (1).jpg" class="card-img-top" alt="...">
                        <img src="/images/images.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">S#*t! you Want: </h5>
                        <ul class="list-group">
                            <li class="list-group-item">Technology</li>
                            <li class="list-group-item">Language Tutoring</li>
                            <li class="list-group-item">Computer Stuff</li>
                            <li class="list-group-item">Furniture</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/index.js"></script>
</div>