<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="stylesheet" href="styles/style.sass">
    <title>Project Two</title>
</head>

<body>


    <header>
        <nav>


            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav>
                    <div class="navbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>

                            <li>
                                <a class="nav-link" href="/signup"> Sign Up </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/login"> Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/barter">Barter</a>
                            </li>

                </nav>
    </header>

    <div class="container">


        <div class="card" style="width: 18rem;">
            <img src="images/dummy-prod-1.jpg" class="card-img-top" alt="dummy-img">
            <div class="card-body">
                <h5 class="card-title">Username</h5>
                <p class="card-text">Some stuff about the user.</p>
            </div>

            <div class="card-body">
                <a href="#" class="card-link">Haves</a>
                <a href="#" class="card-link">Wants</a>
            </div>
        </div>

        <div class="have/want">

            <br>
            <br>


            <form>
                <div class="form-group row">
                    <label for="itemName" class="col-sm-2 col-form-label">Item Name</label>
                    <div class="col-sm-10">
                        <input type="itemName" class="form-control" id="itemName" placeholder="Item Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <input type="category" class="form-control" id="itemCategory" placeholder="Category">
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Item Image</label>
                        <input type="file" class="form-control-file" id="itemPhoto">
                    </div>
                </form>
                <div id="havewant">
                    <p>Item Type</p>
                <input type="radio" name="gender" value="have"> Have<br>
                <input type="radio" name="gender" value="want"> Want<br></div>
                <!-- <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Item Type</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="havewant1" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                              Have
                            </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="havewant2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                              Want
                            </label>
                            </div>
                        </div>
                    </div>
                </fieldset> -->
                <div class="form-group">
                    <label for="itemDescription">Item Description</label>
                    <textarea class="form-control" id="itemDescription" rows="3"></textarea>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button id="newItem" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>








        </div>












    </div>



    <footer class="footer ftr navbar-center">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav>
                <div class="navbar">
                    <ul class="navbar-nav mr-auto justify-content-center">
                        <li class="nav-item active">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Arielle Collins</a>
                        </li>
                        <a class="nav-link" href="/signup">April Long</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Tracy Pineda</a>
                        </li>
                    </ul>
                </div>
            </nav>

    </footer>
</body>

</html>