<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Project Two</title>
    <script src="js/auth.js"></script>
</head>

<body>
    <header class="persistent">
        <nav>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-end">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav>
                    <div class="navbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>

                            <li>
                                <a class="nav-link" href="/profile"> Profile </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/barter">Barter</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </nav>
        </nav>
    </header>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="images/image.webp" class="card-img-top" alt="dummy-img">
                    <div class="card-body">
                        <h5 class="card-title" id="userName"></h5>
                        <p class="card-text" id="aboutMe"></p>
                    </div>
                </div>


            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Have</h4>
                        <div id="have">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Want</h4>
                        <div id="want" class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br /><br />
        <div id="additem">
            <div class="row">
                <div class="col-md-12">
                    <h4>Add New Have / Want</h4>
                </div>
            </div>
            <form>
                    <div class="form-group row">
                            <label for="UserId" class="col-sm-2 col-form-label">UserId</label>
                            <div class="col-sm-10">
                                <input type="UserId" class="form-control" id="UserId" placeholder="UserId">
                            </div>
                        </div>
                <div class="form-group row">
                    <label for="havewant" class="col-sm-2 col-form-label">Item Type</label>
                    <div class="col-sm-10">
                        <label for="have">Have </label>
                        <input id="have" type="radio" name="havewant" value="have">
                        <label for="want">Want</label>
                        <input id="want" type="radio" name="havewant" value="want">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemName" class="col-sm-2 col-form-label">Item Name</label>
                    <div class="col-sm-10">
                        <input type="itemName" class="form-control" id="itemName" placeholder="Item Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <input type="category" class="form-control" id="itemCategory" placeholder="Category">
                    </div>
                </div>

                <div class="form-group">
                    <label for="itemDescription">Item Description</label>
                    <textarea class="form-control" id="itemDescription" rows="3"></textarea>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button id="newItem" name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

    <footer class="footer ftr navbar-center">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav>
                <div class="navbar">
                    <ul class="navbar-nav mr-auto justify-content-center">
                        <ul class="navbar-nav mr-auto justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="http://www.github.com/">Arielle Collins</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://www.github.com/">April Long</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://www.github.com/">Tracy Pineda</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </nav>

    </footer>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="./js/dashboard.js"></script>
</body>

</html>